@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align at the top */
  /* min-height: 100vh;  */
  background-image: url('./assets/light-bulb-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Montserrat';
}

/* Navbar  */
.navbar-wrapper {
  display: flex;
  justify-content: center;
  padding: 1em 5em;
  background-color: #0A61CB;
  color: white;
}
.navbar-inner {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  align-items: center;
}

.nav-links__wrapper {
  display: flex;
  gap: 2em;
  font-family: 'Montserrat';
}

.nav-links {
  color: white;
  text-decoration: none;
}

.logo {
  width: 4em;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

/* Homepage Styling */

.main-body__login{
  display: flex;
  justify-content: center;
  padding: 5em 5em;
  height: 100vh;
}

.main-body__login-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid lightgray;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2em 2em;
  height: fit-content;
  gap: 1em;
  font-family: 'Montserrat';
  background-color: white;
  font: blue;
}

.form-body {
  display: flex;
  flex-direction: column;
  width: 20em;
  gap: 1em;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em
}

.form-button__wrapper {
  display: flex;
  justify-content: flex-end;
}

/* DisplayAll Posts page styling */
.main-body__dashboard {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center; 
  align-content: center;
  /* width: 100%; /* Full width  */
  /* max-width: 1000px; */
  padding: 5em;
}

.dashboard-heading {
  align-self: flex-start;
  color: white;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dashboard-content__top {
  width: inherit;
  /* padd */
}

.post-form__wrapper {
  display: flex;
  justify-content: center;
  padding: 2em 0em;
}

.post-form {
  display: flex;
  align-items: flex-start;
  gap: 2em;
}

.post-input__field {
  width: 30em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dashboard-content__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  gap: 2em;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* Space between elements */
  align-items: center; /* Center child elements */
  gap: 1em; /* Space between posts */
  width: 100%; /* Make sure it takes full width */
  max-width: 25em; /* Optional: limit the width of individual posts */
}

.post-user__wrapper {
  display: flex;
  flex-direction: column;
  height: 10em;
  color: white;
}

.post-content__wrapper {
  display: flex;
  justify-content: space-between;
  width: 35em;
  height: fit-content;
  /* gap: 1em; */
}

.post-content {
  border: 2px solid lightgray;
  min-width: 25em;
  max-width: 25em; /* Consider using percentage for responsiveness */
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
}

.post-links__wrapper {
  display: flex;
  justify-content: center; 
  width: 100%; 
  gap: 2em;
  color: white;
}

/* ViewOnePost Page Styling */

.post-details__content {
  display: flex;
  flex-direction: column;
  gap: 4em;
  padding-top: 5em;
  padding-bottom: 5em;
}

.post-details__top {
  display: flex;
  justify-content: center;
  gap: 3em;

}

.post-details__bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.likes-table {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* DisplayUser Styling */
.user-content__wrapper {
  display: flex;
 justify-content: center;
  padding-top: 5em;
  padding-bottom: 5em;
}

.user-content {
  display: flex;
  flex-direction: column;
  padding: 2em 2em;
  border: 2px solid lightgray;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 2em;
  background-color: white;
}

.user-content__top {
  padding-bottom: 1em;
  border-bottom: 2px solid #0A61CB;

}