@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* Homepage Styling */

.main-body__login{
  display: flex;
  justify-content: center;
  padding: 5em 5em;
}

.main-body__login-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid lightgray;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2em 2em;
  height: fit-content;
  gap: 1em;
  font-family: 'Montserrat';
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1em
}

.form-button__wrapper {
  display: flex;
  justify-content: flex-end;
}