@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Montserrat';
}

/* Navbar  */
.navbar-wrapper {
  display: flex;
  justify-content: center;
  padding: 1em 5em;
  background-color: #0A61CB;
  color: white;
}
.navbar-inner {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  align-items: center;
}

.nav-links__wrapper {
  font-family: 'Montserrat';
}

.nav-links {
  color: white;
  text-decoration: none;
}

/* Homepage Styling */

.main-body__login{
  display: flex;
  justify-content: center;
  padding: 5em 5em;
}

.main-body__login-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid lightgray;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2em 2em;
  height: fit-content;
  gap: 1em;
  font-family: 'Montserrat';
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1em
}

.form-button__wrapper {
  display: flex;
  justify-content: flex-end;
}

/* DisplayAll Posts page styling */
.main-body__dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  padding: 5em 5em;
}

.dashboard-content__top {
  width: inherit;
  /* padd */
}

.post-form__wrapper {
  padding: 2em 2em;
}

.post-form {
  display: flex;
  align-items: center;
  gap: 2em;
}

.post-input__field {
  width: 30em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dashboard-content__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  gap: 2em;
}

.post-wrapper {
  display: flex;
  justify-content: space-between;
  width: 500px;
  border: 2px solid black;
}

.post-content {
  border: 2px solid black;
}